<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
<div align="center">
    <h2>注册页面</h2>
    <hr>
    <form action="/regis" method="post">
        <table>
			<tr>
                <td><label for="phone">手机号：</label></td>
                <td><input type="text" maxlength="11" id="mobile" name="mobile"></td>
            </tr>

            <tr>
                <td><label for="pwd">密码：</label></td>
                <td><input type="password" id="password" name="password"></td>
            </tr>
         
			<tr>
                <td width="100px"><label for="name">姓名：</label></td>
                <td><input type="text"  id="name" name="name"></td>
            </tr>
         
      
            <tr>
                <td>地区：</td> <input type="text"  disabled="disabled" id="region" name="region"/>
                <td>
                    <select id="text" onchange="tt(this.id)" >
                        <option value="">~请选择~</option>
                        <option value="1">湖南</option>
                        <option value="2">湖北</option>
                        <option value="3">广州</option>
                    </select>
				
                </td>
            </tr>
            
           
        </table>
        <p><input type="submit" value="注册">
		</p>
		<p>
		已有账号去：<a href="http://localhost:8080/login"><input type="button" value='登录'></a>
		</p>
    </form>
</div>


<script>
  function tt(id){
	var aa=document.getElementById(id);
	var i= aa.selectedIndex;
	var text=aa.options[i].text;
	var value=aa.options[i].value;
  }

</script>
</body>
</html>
